In [ ]:
# TREE ALGORITHM 
# NOTE : VALUES MUST BE NUMERAL

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn import tree

In [8]:
df = pd.read_csv("HR.csv")
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [12]:
data_model = {'Y':1,'N':0}

df['SuanCalisiyor?'] = df["SuanCalisiyor?"].map(data_model)
df['Top10 Universite?'] = df['Top10 Universite?'].map(data_model)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(data_model)
df['IseAlindi'] = df['IseAlindi'].map(data_model)

education_model = {'BS' : 0 ,'PhD' : 1 , 'MS' : 2}
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(education_model)

df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,1,1,1,1
2,5,1,2,2,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [15]:
X = df.drop(['IseAlindi'],axis=1)
y = df['IseAlindi']

In [16]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

In [19]:
print(clf.predict([[0,0,0,2,1,1],[1,0,0,0,0,0],[5,1,12,1,1,0]]))

[1 0 1]

C:\Users\Sena Bayaz\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(